:root {
    --main-header-font: 'Amatic SC', cursive;
    --comp-font: 'Josefin Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    line-height: 1.6;
    max-width: 1900px;
    height: 100%;
}
@font-face {
    font-family: "Dreamwalker";
    src: url(/Fonts/Dreamwalker.ttf);
}
@font-face {
    font-family: "Billy_Ohio";
    src: url(/Fonts/BillyOhio-85lM.ttf);
}
@font-face {
    font-family: "Serial_Publication";
    src: url(/Fonts/Serialpublicationdemo-qxo1.ttf);
}
@font-face {
    font-family: "Orange_Typewriter";
    src: url(/Fonts/OrangeTypewriter-1G9d2.ttf);
}
@font-face {
    font-family: "Autobiography";
    src: url(/Fonts/Autography-DOLnW.otf);
}
@font-face {
    font-family: "Printing_Press";
    src: url(/Fonts/OldPrintingPressFreeVersion-8jd0.ttf);
}
@font-face {
    font-family: "Kg_Regular";
    src: url(/Fonts/KgHoloceneRegular-lgjKy.ttf);
}
input[type = "radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    justify-self: center;
    align-self: center;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: none;
}
/* NAV SECTION */
.nav_container {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 4%;
    transform:translate(1,1);
    background-color: black;
    border-bottom: .195vw tomato dotted;
}
.nav_items {
    display: none;
}
.nav_menu_container {
    display: none;
}
.nav_menu_container input[type="checkbox"] {
    display: none;
}
.nav_section {
    display: grid;
    grid-template-columns: 4fr, 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: start;
}
.nav_items {
    grid-column: 1 / 2;
    width: 100%;
    display: grid;
    grid-template-columns: .75fr, repeat(3, 1fr);
    grid-auto-flow: column;
    font-family: var(--main-header-font);
    margin-left: 1vw;
    padding-top: .5%;
    padding-left: 5%;
    overflow: hidden;
}
.nav_child:nth-child() {
    grid-column: 1 / 5;
    grid-row-start: 1;
}
.nav_child, .last_nav_child {
    color: whitesmoke;
    font-size: 2vw;
    text-align: left;
}
.last_nav_child {
    grid-column: 4 / 5;
}
.ff_header {
    grid-column: 2 / 3;
    font-family: var(--main-header-font);
    color: whitesmoke;
    font-size: 2vw;
    text-align: center;
    padding-top: 1%;
}
.nav_child::before, .last_nav_child::before {
    content:"X";
    display: inline-block;
    position: relative;
    color: tomato;
    padding-right: 1vw;
    font-size: 2vw;
}
.nav_child:hover, .last_nav_child:hover {
    color:#008000;
    transform: scale(1.5) translateX(15%);
      

}
@media screen and (max-width: 900px) {
    .nav_container {
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        max-height: 15vh;
        padding-bottom: 15%;
        translate: (1, 1);
        padding-top: 1%;
        overflow: visible;
    }
    .nav_section {
        display: none;
    }
    .nav_items {
        display: none;
    }
    .nav_menu_container {
        display: grid;
        grid-template-columns:1fr, 3fr;
        grid-template-rows: 1fr;
        background-color: rgba(0, 0, 0, 0.315);
        backdrop-filter: blur(2px);
        overflow: visible;
    }
    .ff_header {
        grid-column: 7 / 9;
        width: 50vw;
        max-height: 10vw;
        justify-self: right;
        font-size: 7vw;
        padding-right: 3%;
    }
    .nav_menu_label {
        grid-row: 1;
        grid-column:1 / 4;
    }
    .nav_child, .last_nav_child {
        display: none;
        border-right: none;
        max-height: 8vh;
    }
    .nav_menu_label {
        grid-column-start: 1;
        align-self: center;
        width: 6vw;
        height: 6vw;
        background-image: url(/svg/menu_icon_red.svg);
        background-repeat: no-repeat;
        margin-left: 5vw;
        margin-top: 2vw;
        overflow: visible;
    }
    .nav_child::before, .last_nav_child::before {
        display: none;
    }
    .nav_menu_label:hover {
        background-image: url(/svg/menu_icon_green.svg);
    }
    .nav_menu_container input[type="checkbox"]:checked + .nav_menu_label {
        background-image: url(/svg/x_red.svg);
    }
    .nav_menu_container input[type="checkbox"]:checked:hover + .nav_menu_label{
        background-image: url(/svg/x_green.svg);
    }
    #nav_menu_checkbox:checked ~ .nav_items {
        display: flex;
        position: absolute;
        flex-flow: column;
        width: 25vw;
        background-color:rgba(255, 99, 71, 0.5);
        border: dotted whitesmoke 2px;
        top: 5vh; 
        left: 10vw;
        overflow:hidden;
        padding-left: 0;
    }
    .nav_items > * {
        display: inline-flex;
        font-size: 5vw;
        justify-content: center;
        align-items: center;        
        border-bottom: whitesmoke solid 2px;
        padding: 0;
    }
    .last_nav_child {
        border-bottom: none;
    }
    .nav_child:hover, .last_nav_child:hover {
        font-size: 5vw;
        color: green;
        background-color: whitesmoke;
        text-decoration: none;
        transform: none;
    }
}
/* Main image section/Tribute image */
.top_image {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    z-index: -1;
}
.main_image{
    display: inline-block;
    position: relative;
    width:100%;
    max-height: 90vh;
}
.main_image img {
    width: 100%;
    height: auto;
}
.tribute_box {
    display: block;
    position: absolute;
    width: 22vw;
    transform: translate(280%, -225%);
    border: dotted tomato .2vw;
    background-color: rgba(112, 70, 70, 0.438);
    backdrop-filter: blur(2px);
    font-family: var(--main-header-font);
    color: whitesmoke;
}
.tribute_box h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3vw;
    text-align: center;
}
.li_tribute_box_style {
    font-size: 3vw;
    list-style-type: none;
    text-align: center;
}
.text_flourish {
    font-family: var(--main-header-font);
    color:tomato;
    list-style-type: none;
    font-size: 4vw;
    line-height: .1vw;
    text-align: center;
    line-height: 5vw;
}
@media screen and (max-width: 900px) {
    .top_image {
        overflow: hidden;
    }
    .main_image{
        transform: scale(3) translateX(3%) translateY(30%);
    }
    .tribute_box{
        transform: scale(1.5) translateX(190%) translateY(-130%);
    }
}
    
/* Books section */
.ff_flourish {
    color: tomato;
}
.books_container {
    display: grid;
    grid-template-rows: repeat(4, .5fr), repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    background-color: white;
    padding-right: 2vw;
}
.quote_1_image {
    grid-row: 3 / 12;
    grid-column: 1 / 3;
    overflow: hidden;
    z-index: 1;
}
.quote_1_image img {
    width: 80%;
    overflow: hidden;
    transform: rotate(-15deg);
    margin-left: -2vw;
    margin-top:-1vw;
}
mark {
    background-color: rgb(26, 21, 21);
    color: white;
    padding-left: .5vw;
    padding-right: .5vw;
}
.quote_line_1_text {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    font-family: var(--main-header-font);
    font-size: 3vw;
    color: white;
    display: block;
    text-align: right;
    align-content: top;
    width: 100%;
    z-index: 4;
}
.quote_line_2_text {
    grid-row:2 / 4;
    grid-column: 4 / 7;
    font-family: var(--main-header-font);
    font-size: 3vw;
    text-align: left;
    align-self: left;
    align-content: left;
    color: white;
    display: inline-block;
    position: relative;
    margin-inline: -2vw;
    margin-top: 1vw;
}
.books_grid {
    grid-row: 4 / 12;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    overflow: hidden;
    width: 100%;
    height: auto;
}
.books_grid label {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    background-image: url("/svg/Bell_Icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
}
.forrest_author {
    grid-row: 7 / 8;
    grid-column: 5 / 9;
    display:inline-block;
    justify-self: center;
    align-self: center;
    position: relative;
    font-size: 3vw;
    font-family: var(--main-header-font);
}
.books_grid input[type="radio"]:checked + label {
    width: 4vw;
    height: 3vw;
    background-image: url("/svg/Bell_Icon_2.svg");
    animation-name: bell_ringing; 
    animation-duration: .25s; 
    animation-iteration-count: 3;
    animation-direction: normal;
}
.books_grid input[type="radio"]:hover + label {
    filter: invert(40%) sepia(20%) saturate(800%) hue-rotate(-340deg) brightness(90%) contrast(200%);
    
}
@keyframes bell_ringing {
    0% {transform: rotate(0);}
    25%{transform-style: rotate(10deg);}
    50% {transform: rotate(20deg);}
    75%{transform-style: rotate(-10deg);}
    100% {transform: rotate(-20deg);}
}
.radio_book_1 {
    grid-row: 6 / 7;
    grid-column: 5 / 6;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.radio_book_2 {
    grid-row: 6 / 7;
    grid-column: 6 / 7;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.radio_book_3 {
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.radio_book_4 {
    grid-row: 6 / 7;
    grid-column: 8 / 9;
    display: inline-block;
    position: relative;
    z-index: 4;
}
#book_slide_1:checked ~ .book_card_1 {
    z-index: 1;
}
#book_slide_2:checked ~ .book_card_2 {
    z-index: 1;
}
#book_slide_3:checked ~ .book_card_3 {
    z-index: 1;
}
#book_slide_4:checked ~ .book_card_4 {
    z-index: 1;
}
.book_card_1, .book_card_2, .book_card_3, .book_card_4 {
    grid-column: 2 / 12;
    grid-row: 1 / 6;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    isolation: isolate;
}
.book_card_1::before, .book_card_2::before, .book_card_3::before, .book_card_4::before {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    background-color: rgba(0, 0, 0, 0.733);
    backdrop-filter: blur(5px);   
    font-family: var(--main-header-font);
    font-size: 3vw;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 2;    
    transition: ease-in .5s;
}
.book_card_1:hover::before, .book_card_2:hover::before, .book_card_3:hover::before, .book_card_4:hover::before {
    transition: ease-out .5s;
    opacity: 0;
    z-index: -1;
}
.book_card_1::before {
    content:"The Thrill of the Chase";
}
.book_card_1 {
    background: rgba(251, 255, 251, 0.719);
    background-image: url("/photos/southwest-region-map.jpg");
    background-blend-mode:screen;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.book_image_1 {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    width: 15vw;
    height: auto;
    overflow: hidden;
    padding-left: 2vw;
}
.book_image_1::before {
    content:"";
    display:inline-block;
    position: absolute;
    width: 12vw;
    height: 20vw;
    margin-top: 1vh;
    margin-left: -1vw;

    background-color: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(2px);
    z-index: -1;
}
.book_details_1 {
    display: inline-block;
    position: relative;
    width: 40vw;
    flex-grow: 3;
    flex-shrink: 5;
    font-family:"Dreamwalker";
    color: black;
    font-size: 2vw;
    padding: 2vw;
    padding-bottom: 5vw;
}
.book_details_1::before {
    content:open-quote;
    display: inline-block;
    position: absolute;
    color:tomato;
    font-size: 5vw;
    font-family:var(--main-header-font);
    margin-left: -2vw;
    margin-top: -2vw;
}
.book_details_1::after {
    content: close-quote "-FF";
    display: inline-block;
    position: absolute;
    color: tomato;
    font-size: 5vw;
    font-family:var(--main-header-font);
    margin-top: -2vw;
    margin-left: -.75vw;
}
.order_button_1 {
    display: flex;
    position: absolute;
    width: 15vw;
    height: 8vh;
    font-family: "Dreamwalker";
    border-bottom: tomato solid 1vw;
    font-size: 3vw;
    flex-shrink: -2;
    justify-content: center;
    color: Black;
    margin-left: 9vw;
    margin-top: 3vh;
}
.order_button_1:hover {
    border-bottom: rgb(0, 4, 255) solid 1vw;
    color: black;
    transform: scale(1.2,1.2);
}
.book_card_2 {
    background-color: violet;
    z-index: -1;
}
.book_card_3 {
    background-color: rgb(24, 182, 50);
    z-index: -2;
}
.book_card_4 {
    background-color: rgb(17, 46, 99);
    z-index: -3;
}