:root {
    --main-header-font: 'Amatic SC', cursive;
    --comp-font: 'Josefin Sans', sans-serif;
}
body {
    line-height: 1.6;
}


a {
    color: inherit;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: none;
}
a:hover {
    color:green;
    font-size: 140%;
}
@media screen and (max-width: 600px) {
    a:hover {
        color:green;
        font-size: 100%;
    }
    
}
.nav_section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-height: 1.5vw;
    min-height: 1.5vw;
    overflow: hidden;
    background-color: black;
    font-family: var(--main-header-font);
    font-size: calc(10px + .5vw);
    color: whitesmoke;
    border-bottom: .195vw tomato dotted;
    padding-top: .625em;
    padding-bottom: .625em;
}
.nav_child {
    display: flex;
    border-right:1px solid whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;    
    max-height: 1.5vw;
}
.second_last_nav_child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 1.5vw;

}
.last_nav {
    display: flex;
    grid-column: 5 / 8;
    align-items: center;
    justify-self: center;    
    max-height: 1.5vw;
}
.top_section {
    display: grid;
    max-width: 100%;
    max-height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
    overflow: hidden;
}
img {
    display: inline-block;
    max-width: 100%;
    max-height: auto;
}

.main_image{
    grid-row: 2 / 6;
}

.main_image {
    grid-column: 1 / 13;
    grid-row: 1 / 9;
}

.tribute_box {
    display: grid;
    overflow:inherit;
    width: 20vw;
    min-height: 20vw;
    border: dotted tomato .195vw;
    background-color: rgba(112, 70, 70, 0.438);
    font-family: var(--main-header-font);
    color: whitesmoke;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    padding-top: .2em;
    padding-bottom: .5em;
    position: absolute;
    right: 12vw;
    top: 10vw;
backdrop-filter: blur(.1vw);}
h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    background-blend-mode: soft-light;
}
.li_tribute_box_style {
    font-size: 3vw;
    list-style-type: none;
    text-align: center;
}
.text_flourish {
    font-family: var(--main-header-font);
    color:tomato;
    list-style-type: none;
    font-size: 4vw;
    line-height: .1vw;
    text-align: center;
    line-height: 5vw;
}
#books {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 20vw;
}

.forrest_author {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: violet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}

.fenn_author_title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.fenn_author_image {
    grid-column: 1 / 2;
    grid-row: 3 / 8;
}

.books_list {
    grid-column: 4 / 10;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: .5vw;
}

.book_card {
    border: tomato dotted .195vw;
    background-color: rgba(112, 70, 70, 0.438);
    margin: .25vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    overflow: auto;
}
.book_image {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}
.book_text {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
}
#forrests_life {
    display: grid;
    border-top: black .5vw solid;
    border-bottom: black .5vw solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-rows: 6vw;
    background-image: URL("papers.co-vo72-retro-red-blue-yellow-pattern-1920x1080.jpg");
    box-shadow: inset 0 0 0 100vmax #55261e75;
    margin: 0px;
}
h2 {
    color: whitesmoke;
    font-family:var(--main-header-font);
    font-size: 5vw;
    margin: 0;
}


.life_grid_split {
    display: grid;
    grid-template-rows: repeat (auto, 1fr);
    grid-template-columns: repeat (2, 1fr);
}
.life_class:nth-child(odd) {
    grid-column: 1 / 2;
}
.life_class:nth-child(even) {
    grid-column: 2 / 3;
}
.main_background {
    background-image: url("topomap.jpg");
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.781);
    margin-bottom: 0vw;
}
h3 {
    margin: 0;
}
