:root {
    --main-header-font: 'Amatic SC', cursive;
    --comp-font: 'Josefin Sans', sans-serif;
}
body {
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    max-height: auto;
}
a {
    color: inherit;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: none;
}
a:hover {
    color:green;
    font-size: 150%;
}
.nav_section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    font-family: var(--main-header-font);
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    align-content: center;
    border-bottom: .195vw tomato dotted;
    padding-top: .625em;
    padding-bottom: .625em;
}
.nav_child {
    border-right:1px solid whitesmoke;
}
.last_nav {
    grid-column: 5 / 8;
}
.top_section {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
}

.main_image, .tribute_box {
    grid-row: 2 / 6;
}

.main_image {
    grid-column: 1 / 13;
    grid-row: 1 / 9;
}

.tribute_box {
    display: grid;
    grid-column: 9 / 12;
    border: dotted tomato .195vw;
    background-color: rgba(112, 70, 70, 0.438);
    font-family: var(--main-header-font);
    color: whitesmoke;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    padding-top: .2em;
    padding-bottom: 1.2em;
}
h1 {
    line-height:.1vw;
}
.li_tribute_box_style {
    font-size: 3vw;
    list-style-type: none;
    line-height: .1vw;
    text-align: center;
}
.text_flourish {
    color:tomato;
    font-size: 4vw;
}
#books {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 20vw;
}

.forrest_author {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: violet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}

.fenn_author_title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.fenn_author_image {
    grid-column: 1 / 2;
    grid-row: 3 / 8;
}

.books_list {
    grid-column: 4 / 10;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: .5vw;
}

.book_card {
    border: tomato dotted .195vw;
    background-color: rgba(112, 70, 70, 0.438);
    margin: .25vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    overflow: auto;
}
.book_image {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}
.book_text {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
}
#forrests_life {
    display: grid;
    border-top: black .5vw solid;
    border-bottom: black .5vw solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-rows: 6vw;
    background-image: URL("papers.co-vo72-retro-red-blue-yellow-pattern-1920x1080.jpg");
    box-shadow: inset 0 0 0 100vmax #55261e75;
    margin: 0px;
}
h2 {
    color: whitesmoke;
    font-family:var(--main-header-font);
    font-size: 5vw;
    margin: 0;
}


.life_grid_split {
    display: grid;
    grid-template-rows: repeat (auto, 1fr);
    grid-template-columns: repeat (2, 1fr);
}
.life_class:nth-child(odd) {
    grid-column: 1 / 2;
}
.life_class:nth-child(even) {
    grid-column: 2 / 3;
}
.main_background {
    background-image: url("topomap.jpg");
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.781);
    margin-bottom: 0vw;
}
h3 {
    margin: 0;
}
