:root {
    --main-header-font: 'Amatic SC', cursive;
    --comp-font: 'Josefin Sans', sans-serif;
}
body {
    line-height: 1.6;
}


a {
    color: inherit;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: none;
}
a:hover {
    color:green;
    font-size: 140%;
}
@media screen and (max-width: 600px) {
    a:hover {
        color:green;
        font-size: 100%;
    }
    
}
.nav_section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-height: 1.5vw;
    min-height: 1.5vw;
    overflow: hidden;
    background-color: black;
    font-family: var(--main-header-font);
    font-size: calc(10px + .5vw);
    color: whitesmoke;
    border-bottom: .195vw tomato dotted;
    padding-top: .625em;
    padding-bottom: .625em;
}
.nav_child {
    display: flex;
    border-right:1px solid whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;    
    max-height: 1.5vw;
}
.second_last_nav_child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 1.5vw;

}
.last_nav {
    display: flex;
    grid-column: 5 / 8;
    align-items: center;
    justify-self: center;    
    max-height: 1.5vw;
}
.top_section {
    display: grid;
    max-width: 100%;
    max-height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
    overflow: hidden;
}
img {
    display: inline-block;
    max-width: 100%;
    max-height: auto;
}
.main_image{
    grid-column: 1 / 13;
    grid-row: 1 / 9;
    width:100%;
}
.tribute_box {
    display: grid;
    overflow:inherit;
    width: 20vw;
    min-height: 20vw;
    border: dotted tomato .195vw;
    background-color: rgba(112, 70, 70, 0.438);
    font-family: var(--main-header-font);
    color: whitesmoke;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    padding-top: .2em;
    padding-bottom: .5em;
    position: absolute;
    right: 12vw;
    top: 10vw;
    backdrop-filter: blur(.1vw);}
h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    background-blend-mode: soft-light;
}
.li_tribute_box_style {
    font-size: 3vw;
    list-style-type: none;
    text-align: center;
}
.text_flourish {
    font-family: var(--main-header-font);
    color:tomato;
    list-style-type: none;
    font-size: 4vw;
    line-height: .1vw;
    text-align: center;
    line-height: 5vw;
}
.ff_flourish {
    color: tomato;
}
.books_container {
    display: grid;
    grid-template-rows: repeat(4, .5fr), repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5vw;
    overflow: hidden;
    background-color: white;
}
.quote_line_1_text, .quote_1_image, .book_card_1 {
    position: relative;
}
.quote_1_image {
    grid-row: 2 / 8;
    grid-column: 1 / 2;
    transform: rotate(-15deg);
    overflow: hidden;
    margin-top: 2vw;
    width: 100%;
    position: relative;
    z-index: 1;
}
mark {
    background-color: rgb(26, 21, 21);
    color: white;
    padding-left: .5vw;
    padding-right: .5vw;
}
.quote_line_1_text {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    font-family: var(--main-header-font);
    font-size: 3vw;
    color: white;
    display: block;
    text-align: right;
    align-content: top;
    width: 100%;
    z-index: 4;
}
.background_quote_line_1 {
    grid-row: 2 / 3;
    background-color: tomato;
}

.quote_line_2_text {
    grid-row:2 / 4;
    grid-column: 4 / 7;
    font-family: var(--main-header-font);
    font-size: 3vw;
    text-align: left;
    align-self: left;
    align-content: left;
    color: white;
}
/* The book slider section was greatly influnced from Anna Blok's example on codepen.io: https://codepen.io/anna_blok/pen/eYYRbQY*/
.book_slider {
    grid-row: 3 / 8;
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);    
    position: relative;
    z-index: 4;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
.book_slider_box {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);   
    background-color: blanchedalmond;
    border: solid black .2vw;
    position:relative;
    z-index: 5;
    margin-bottom: 1vw;
    margin-right: 2vw;
    overflow: hidden;
}
/* .book_slider_box input { 
    display: none;
}*/
.book_slide {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#book_slide_1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #book_slide_2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #book_slide_3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #book_slide_4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 .book_slider .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 .book_slider .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 .book_slider .book_slide_1 {
    background: #00171F;
 }
 .book_slider .book_slide_2 {
    background: #003459;
 }
 .book_slider .book_slide_3 {
    background: #007EA7;
 }
 .book_slider .book_slide_4 {
    background: #00A8E8;
 }
 #controls {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #book_slide_1:checked ~ #controls label:nth-child(2),
 #book_slide_2:checked ~ #controls label:nth-child(3),
 #book_slide_3:checked ~ #controls label:nth-child(4),
 #book_slide_4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #book_slide_1:checked ~ #controls label:nth-last-child(2),
 #book_slide_2:checked ~ #controls label:nth-last-child(3),
 #book_slide_3:checked ~ #controls label:nth-last-child(4),
 #book_slide_4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
.book_card_1 {
    grid-column: 2 / 3;
    grid-row: 4 / 8;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr repeat(4, 4fr);
    margin-top: 1.3vw;
    z-index: 2;
}

.book_image, .book_card_style_1 {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}
.book_card_style_1 {
    grid-row: 2 / 3;
    grid-column: span;
    background-color: tomato;
    margin: 0;
   
}
.book_image {
    grid-column: 2 / 4;
    grid-row: 1 / 11;
    background-image: url(thrill_of_the_chase.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.book_title {
    grid-column: 4 / 7;
    grid-row: 3 / 6;
    font-family: var(--main-header-font);
    font-size: 2vw;
    text-decoration: bold;
    color: black;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    margin: 1vw;
    line-height: 1.8vw;
}
.book_details {
    grid-column: 4 / 7; 
    grid-row: 6 / 13;
    font-family: var(--comp-font);
    color: black;
    font-size: .8vw;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    margin-left: 1vw;
}
.order_button {
    grid-column: 2 / 4;
    grid-row: 9 / 11;
    display: block;
    overflow: hidden;
    width: 7vw;
    height: 1.75vw;
    border-radius: 2.6vw;
    background-image: linear-gradient(to bottom, rgba(255, 99, 71, 0.185) 0%,tomato 100%);
    font-family: var(--comp-font);
    color: whitesmoke;
    align-self: top;
    justify-self: center;
    align-content: center;
    text-align: center;
}
.book_card_2 {
    grid-column: 2 / 3;
}
.book_card_3 {
    grid-column: 3 / 4;
}
.book_card_4 {
    grid-column: 4 / 5;
}
#forrests_life {
    display: grid;
    border-top: black .5vw solid;
    border-bottom: black .5vw solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-rows: 6vw;
    background-image: URL("papers.co-vo72-retro-red-blue-yellow-pattern-1920x1080.jpg");
    box-shadow: inset 0 0 0 100vmax #55261e75;
    margin: 0px;
}
h2 {
    color: whitesmoke;
    font-family:var(--main-header-font);
    font-size: 5vw;
    margin: 0;
}
.life_grid_split {
    display: grid;
    grid-template-rows: repeat (auto, 1fr);
    grid-template-columns: repeat (2, 1fr);
}
.life_class:nth-child(odd) {
    grid-column: 1 / 2;
}
.life_class:nth-child(even) {
    grid-column: 2 / 3;
}
.main_background {
    background-image: url("topomap.jpg");
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.781);
    margin-bottom: 0vw;
}
h3 {
    margin: 0;
}
